{% set id = 'carousel-' ~ paragraph.id() %}
<div id="{{ id }}" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for index, slide in slides %}
      {% set active_class = index ==0 ? 'active' %}
      <div class="carousel-item {{ active_class}}">
        <img class="d-block w-100" src="{{ slide.image_src }}" alt="First slide" />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ slide.title }}</h5>
          {% autoescape %}
              {{ slide.text|raw }}
          {% endautoescape %}
          {% for item in slide.button_groups %}
            {{ drupal_entity('paragraph', item.id()) }}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#{{ id }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#{{ id }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>